/* All Tweets Section */
.all-tweets {
  width: 100%;
}

/* Individual Tweet Article */
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  border: solid 4px;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
}

/* Individual Tweet Header */
article header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Flexbox For Avatar & Name */
article header .identifiers {
  display: flex;
  justify-content: space-between;
}

/* Individual Tweet Avatar */
article header img {
  padding-right: 20px;
}

/* Individual Tweet Handle */
article header .handle {
  color: #deceff;
  font-weight: bold;
}

/* Individual Tweet Content */
article .content {
  display: flex;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 40px;
  font-weight: bold;
}

/* Individual Tweet Footer */
article footer {
  display: flex;
  justify-content: space-between;
  width: 103.5%;
  border: 0;
  border-top: solid 4px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 70%;
  font-weight: bold;
}

article footer .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7%;
  color: #deceff;
}

article footer .icons i:hover {
  color: #a476ff;
}