/* Top Bar Element */
nav {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 10;
  color: #FFFFFF;
  background-color: #eee6ff;
  background-image: url("https://www.transparenttextures.com/patterns/debut-light.png");
}

/* Tweeter Logo */
nav span.logo {
  padding-top: 20px;
  font-family: 'Bungee', cursive;
  font-size: 1.8em;
}

/* Flexbox For Right Side Text & Down Arrow Icon */
nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Right Side Text */
nav div p {
  padding-top: 5px;
  font-weight: bold;
}

/* Down Arrow Icon */
nav div i {
  margin-top: -16px;
  color: #eee6ff;
}

@media screen and (min-width: 1024px) {
  
  nav {
    background-color: #4056A1;
    background-image: none;
  }
}