/* New Tweet Section */
section.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 90px;
}

/* New Tweet Error Boxes */
section.new-tweet form p.input-error,
section.new-tweet form p.length-error {
  display: none;
  width: fit-content;
  border: solid crimson;
  padding: 10px;
  color: crimson;
}

/* New Tweet Text Area */
section.new-tweet form textarea {
  height: 62px;
  width: 100%;
  border: 0;
  resize: none;
  background: transparent;
  font-weight: bold;
}

/* New Tweet Button & Character Counter */
section.new-tweet form div {
  display: flex;
  justify-content: space-between;
  border: 0;
  border-top: solid 4px;
  padding-top: 10px;
}

/* New Tweet Button */
section.new-tweet form div button {
  border: 0;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  font-size: 90%;
}

/* New Tweet Character Counter */
section.new-tweet form div output {
  margin-top: -5px;
  font-family: 'Bungee', cursive;
}

/* Supplement For New Tweet Character Counter */
section.new-tweet form div output.negative {
  color: #CE183D;
}