/* New Tweet Section */
.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  margin-top: 80px;
  margin-bottom: 90px;
}

/* New Tweet Text Area */
.new-tweet textarea {
  height: 62px;
  width: 100%;
  border: none;
  resize: none;
  background: transparent;
  font-weight: bold;
}

/* New Tweet Button & Character Counter */
.new-tweet .add-ons {
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
  border: none;
  border-top: solid 4px;
  padding-top: 10px;
}

/* New Tweet Button */
.new-tweet .add-ons button {
  border: none;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  font-size: 90%;
}

/* New Tweet Character Counter */
.new-tweet .add-ons output {
  font-family: 'Bungee', cursive;
}

/* Supplement For New Tweet Character Counter */
.new-tweet .add-ons output.negative {
  color: #CE183D;
}